<!doctype html> 
<html lang="en"> 
<head> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"> 
	</script> 
</head> 
<body class="m-3"> 
	<h1 class="ms-5 text-success"> 
		CAD Reporting Dashboard 
	</h1> 
	<h4 class="ms-5"> 
		Welcome to CAD Reporting 
	</h4> 
	<nav class="navbar navbar-expand-md 
				navbar-dark bg-dark"> 
		<div class="container-fluid"> 
			<button class="navbar-toggler"
					type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarToggler"> 
				<span class="navbar-toggler-icon"></span> 
			</button> 
			<div class="collapse navbar-collapse" id="navbarToggler"> 
				<a class="navbar-brand" href="#">Reporting Home</a> 
				<div class="dropdown"> 
					<button class="btn btn-success dropdown-toggle"
						type="button" data-bs-toggle="dropdown"> 
						Report to DOS
					</button> 
					<ul class="dropdown-menu dropdown-menu-dark"
					aria-labelledby="dropdownMenuButton2"> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">CDLC</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">Form-L</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">Govt & Semi-Govt.</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">Other</a> 
						</li> 
					</ul> 
				</div>
        &nbsp;&nbsp;
        <div class="dropdown"> 
					<button class="btn btn-success dropdown-toggle"
						type="button" data-bs-toggle="dropdown"> 
						Report to ISMD
					</button> 
					<ul class="dropdown-menu dropdown-menu-dark"
					aria-labelledby="dropdownMenuButton2"> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">HO ISS</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">OBU ISS</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">Branch ISS</a> 
						</li> 
						<li class="nav-item"> 
							<a class="nav-link" href="#">Other</a> 
						</li> 
					</ul> 
				</div> 
			</div> 
		</div> 
	</nav> 
</body> 
</html>
